* {
  margin: 0;
}

/* Header elements */
header {
  background-color: #192138;
  display: flex;
}
.div-title {
  color: white;
  width: 37%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans',
    Arial, sans-serif;
}
.subtitle {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans',
    Arial, sans-serif;
}
.div-logo {
  display: flex;
  justify-content: start;
}
.logo {
  width: 38%;
}

/* Main elements */
.body {
  display: flex;
  flex-direction: column;
}

/* Navbar */
nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.category_item {
  width: 100%;
  padding: 15px 0;
  margin-bottom: 20px;
  background: #192138;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  border-bottom: #192138 2px solid;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans',
    Arial, sans-serif;
}

.category_item:hover {
  background-color: #fff;
  color: #192138;
}

.active {
  background-color: #fff;
  color: #192138;
}

/* Fin navbar */

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: rgb(4, 4, 4);
}

/* Section and articles */
section {
  display: flex;
  flex-direction: column;
  color: rgb(4, 4, 4);
}
section > h2 {
  margin: 0 0 3% 3%;
  color: white;

  padding: 1% 0 1% 1%;
  background: #192138;
}
.section-articles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.article {
  /* background: ; */
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 1em;
  transition: 0.3s;
  max-width: 30vh;
  align-items: center;
}
.article:hover {
  box-shadow: 0 0 0 0.1em #181818;
  color: rgb(4, 4, 4);
  background-color: var(--secundario);

  /* cursor: pointer; */
  /* width: 100%; */
  /* font-size: 18px; */
}
#items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));

  background-color: #131212;
}
.conteiner-bloque {
  display: grid;
  grid-template-columns: 45% 55%;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: #131212;
  max-width: 500px;
}
.price-article {
  align-self: end;
  width: auto;
  margin: 0 10px 6px 0;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.desc-article {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  margin: 6px 0 0 5px;
}

.img-article {
  border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
  width: 30vh;
  height: 30vh;
}
/* fin section articles */

.boton {
  background-color: var(--secundario);
  font-size: 2rem;
  font-family: var(--fuentePrincipal);
  border: none;
  transition: background-color 0.3s ease;
  grid-column: 1/4;
}

.boton:hover {
  cursor: pointer;
  background-color: rgb(223, 187, 2);
}

/* .contenido-producto button:hover {
  opacity: 0.7;
} */

/* Footer */
footer {
  height: 7%;
  bottom: 0;
  display: flex;
  background: #192138;
  margin-top: 2%;
}
footer > p {
  color: white;
  margin: auto;
  font-size: larger;
  font-weight: bolder;
}

/* Carrito */
.carrito-container{
  width: 30%;
}
.article-carrito {
  border: #192138 solid 2px;
  display: grid;
  grid-template-columns: 20% 80%;
  margin-top: 3px;
}
.img-article-carrito {
  width: 100%;
 border-right: #192138 2px solid;
  grid-column: 1/2;
}
.container-article-carrito {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 50% 50%;
}

.title-article-carrito {
  align-self: center;
  font-family: sans-serif;
  font-weight: 600;
  margin: 2px 0 0 5px;

  grid-column: 1/6;
}

.price-article-carrito {
  margin-left: 5px;
  font-size: large;
  font-weight: bolder;
  grid-column: 1/2;
}
.btn-article-carrito {
  background: #192138;
  color: white;
  grid-column: 5/6;
  margin: 0 2px 2px 0;
}
